/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

 input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
  }
  
  /**
   * Removes inner padding and search cancel button in S5, Chrome on OS X
   */
  
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

body {
    font-family: 'Skranji', cursive;
    font-weight: 400;
    color: #121212;
}

.left {
    background: url(/img/background-image.avif) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 35%;
    float: left;
}

.right {
    height: 100vh;
    width: 65%;
    background-color: antiquewhite;
    float: right;
}

.left-top {
    height: 10%;
}

.left-mid {
    height: 85%;
}

.left-bot {
    height: 5%;
}

.left-banner {
    background-color: black;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.odin {
    height: 50px;
    width: 50px;
}

.left-banner h1 {
    color: lightgray;
    margin-right: 16px;
    font-size: 32px;
    font-weight: 700;
}

.left h4, .left a{
    text-align: center;
    color:lightgray;
    font-size: 12px;
}

/* Right Form Section */

.right-top {
    height: 30%;
    background-color: #b99480;
}

.right-top-content, .right-mid-content {
    width: 70%;
    margin-left: 3rem;
}

.right-top h3{
    padding-top: 48px;
    font-size: 1.125rem;
}

.right-mid h3 {
    font-size: 1.25rem;
    padding: 1rem 0rem 1rem 0rem;
}

.right-mid {
    height: 40%;
    background: #f9dfd2;
}

.row {
    display: flex;
}

.content {
    margin-bottom: 1rem;
}

.content label {
    font-size: 0.75rem;
}

.content input {
    flex: auto;
    border: 1px solid #121212;
    width: 16rem;
    height: 1.5rem;
    margin-right: 8rem;
    background: transparent;
    border-radius: 0.5rem;
}

.content input:focus {
    outline-color: #b99480;
    outline-style:solid;
    border: 1px solid #b99480;
}



.right-bot {
    height: 30%;
    background: #b99480;
}

.right-bot-content {
    width: 70%;
    margin-left: 3rem;
    padding-top: 2rem;
}

.right-bot input {
    background: #b99480;
    color: #f9dfd2;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 1rem;
    border: 3px solid black;
    margin-bottom: 2rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
}

.right-bot p {
    font-size: 0.825rem;
}

.right-bot a {
    color: #f9dfd2;
    text-decoration: none;
}

#submit:hover {
    background: #121212;
}

